<div class="otp-leg localize">
  <div class="otp-legHeader">
    <span style="float:right;">{{formatDuration duration}}</span>
    <b><div class="otp-legMode-icon otp-legMode-icon-{{ mode }}"></div><span class="otp-legMode-title">{{mode}}</span></b><span data-i18n="handlebars.to"></span> {{to.name}}
  </div>
</div>