<div class="otp-mapContextMenu localize">
  <div class="otp-mapContextMenuItem setStartLocation" data-i18n="handlebars.setStartLocation"></div>
  <div class="otp-mapContextMenuItem setEndLocation" data-i18n="handlebars.setEndLocation"></div>
</div>
<script>
  $(".localize").localize();
</script>