        <div class="well localize">
            <div class="otp-itinHeader">
                <div class="otp-itinHeader-title">
                    <span class="pull-right">
                        <a href="#" class="print" title="Print Itinerary"><span class="glyphicon glyphicon-print"></span></a>
                    </span>

                    <span>
                        <span data-i18n="handlebars.departs"></span> {{formatItineraryWithflexCallAndRideMaxStartTime timeOffset}}
                    </span>
                    /
                    <span>
                        {{formatDuration duration}}&nbsp;{{includePlusForVariableDurationTrips timeOffset}}&nbsp;&nbsp;&nbsp;
                    </span>
                    /
                    <span class="otp-itinFare-preview">
                        {{#fare}}
                            <span>{{fareString fare}}</span>
                        {{/fare}}
                            <span></span>
                    </span>
                </div>

            </div>
            <div class="otp-itinBody">
                {{#if walkLimitExceeded}}
                    <div class="alert alert-warning" data-i18n="handlebars.exceedMaxWalk"></div>
                {{/if}}
            </div>
        </div>
    </div>

<script>
    $(".localize").localize();
</script>
