<div class="narrative-tab">
<!--    OPTION 1 9min/$2.50-->
    <span class="tab-part option-tab-part">
        <span class="option-label">OPTION</span> <span class="option-alpha">{{alphaValue}}</span>
    </span>
    <span class="tab-part duration-tab-part">
        3min/{{fareString fare}}
    </span>
</div>

<script>
    $(".localize").localize();
</script>
