<div class="narrative-message">
  <span class="info-pin-icon"></span>
  <span>{{message}}</span>
</div>
<div class="narrative-results">
  <div class="tab-container">
    <ul class="nav nav-tabs">
        <li> <a  href="#1" data-toggle="tab"><div class="itineraryTab1"></div></a> </li>
        <li> <a href="#2" data-toggle="tab"><div class="itineraryTab2"></div></a> </li>
        <li> <a href="#3" data-toggle="tab"><div class="itineraryTab3"></div></a> </li>
    </ul>
  </div>

  <div class="tab-content">
      <div class="tab-pane" id="1"> <div class="itinerary1"></div> </div>
      <div class="tab-pane" id="2"> <div class="itinerary2"></div> </div>
      <div class="tab-pane" id="3"> <div class="itinerary3"></div> </div>
  </div>
</div>


<script>
    $(".localize").localize();
</script>
