<div class="messageWell well localize">
  <div class="text-info" data-i18n="handlebars.dragOrForm"></div>
</div>
<div>
    <ul class="nav nav-tabs itinerarytabs">
    </ul>
</div>

<div class="itineraries"></div>

<script>
  $(".localize").localize();
</script>