<div class="col-sm-12 tab narrative-tab">
<!--    OPTION 1 9min/$2.50-->
    <span class="col-sm-6 tab-part option-tab-part">
        OPTION {{alphaValue}}
    </span>
    <span class="col-sm-6 tab-part duration-tab-part">
        3min/{{fareString fare}}
    </span>
</div>

<script>
    $(".localize").localize();
</script>
