<div class="messageWell well localize">
  <span class="text-info">
    <strong data-i18n="handlebars.toPlan"></strong> <span data-i18n="handlebars.selectStartEnd"></span>
  </span>
</div>

<div>
    <ul class="nav nav-tabs itinerarytabs">
    </ul>
</div>

<div class="itineraries"></div>

<script>
  $(".localize").localize();
</script>
