<div class="narrative-tab">
<!--    OPTION 1 9min/$2.50-->
    <span class="tab-part option-tab-part">
        <span class="option-label">OPTION</span> <span class="option-alpha">{{alphaValue}}</span>
    </span>
    <span class="tab-part duration-tab-part">
        3min/{{fareString fare}}
    </span>
    <span class="tab-part modes-tab-part">
    	<div class="otp-legMode-icon otp-legMode-icon-WALK"></div>
    	<div class="otp-legMode-icon otp-legMode-icon-BUS"></div>
    </span>
</div>

<script>
    $(".localize").localize();
</script>
