body {
  overflow: hidden;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
}

.title {
	display: block;
}

.description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

#itineraries {
	overflow-y: auto;
	padding-right: 5px;
}

.bikeTriangleControl {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

  margin-bottom: 10px;
  text-align: center;
}

.mode-md .bikeTriangleControl > div {
  width: 340px;
}

.mode-sm .bikeTriangleControl > div {
  width: 340px;
}

.mode-xs .bikeTriangleControl > div {
  width: 340px;
}

.well {
  padding: 10px;
}

.map-container {
	border-left: 1px solid #aaa;
  padding: 0;
}

#sidebar {
	overflow-y: auto;
	overflow-x: hidden;
}


@media print {
  body, html {
    margin: 0;
    height: 0;
    overflow-y: visible;
    font-size: 12px;
  }

  body * {
    font-size: 1rem;
  }

  .print-header {
    display: block!important;
    font-size: 1.75rem;
    padding: 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid;
    margin: 0;
  }

  #sidebar {
    overflow: visible !important;
  }

  #tabs, 
  .narrative-message, 
  .select2-search input,
  .select2-no-results, 
  #map, 
  .messageWell, 
  .PlanResponseNarrativeView,
  .otp-itinHeader .print, 
  #hidableSettings,
  .hide-show-settings,
  .plan-trip-button, 
  .less-more, 
  #narrative .nav-tabs li:not(.active), 
  #mymap, 
  #trip-plan-header {
    display: none!important;
  }

  .otp-legMode-title {
    display: inline;
  }

  .PlanResponseNarrativeView.activated, 
  #sidebar, 
  #plan {
    display: block!important;
  }

  .form-control .select2-choice .select2-arrow, 
  #mymap {
    border: none;
  }

  #sidebar, #plan {
  	float: left;
  	width: 100%;
  	position: static;
  }

  #sidebar::after, #plan::after {
  	content: '';
  	display: table;
  	width: 100%;
  }
  
  #sidebar {
    width: 100%;
  }

  #sidebar-inner {
  	height: auto!important;
  	position: static;
  }
  
  .select2-choice {
    padding-left: 0px!important;
  }

  .select2-chosen {
    margin-right: 0!important;
    max-width: 100%!important;
    overflow: visible;
    font-weight: bold;
    font-size: 1.25em;
  }
 
  
  .PlanResponseNarrativeView, 
  .otp-legBody, 
  #request-form-container {
    display: block!important;
    max-width: 100vw
  }

  .call-and-ride-note .button {
  	display: none;
  }

  .narrative-results {
    padding-top: 1rem;
    border-top: 1px solid;
  }

  .narrative-tab {
    font-size: 1.25rem;
  }

  .timing-group .col-xs-4 {
    width: auto;
  }
 
  
}